*{
  padding: 0px;
  margin: 0px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

.masthead{
  height: 55px;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 45px;
  line-height: 1;
}

.jumbotron .btn-large {
  font-size: 21px;
}

.jumbotron #address{
    height:30px;
  }

@media (max-width: 767px){
  .jumbotron #address{
    height:40px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 30px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

#restrictions{
  display: block;
  padding-top: 5px;
  margin: auto;
  width: 200px;
  max-width: 100%;
  text-align: left;
}

.logo-banner{
  width: 300px;
  max-width: 75%;
  margin: auto;
  margin-bottom: 20px;
}

.btn .tooltip-inner{
  text-shadow: none !important;
}

.mini-logo{
  display: inline-block;
  width: 75px;
  position: relative;
  top: -15px;
}

a{
  color: #333333;
}

.nav{
  margin-bottom:0px;
}

/* Does not fix viewport bug
@media (max-width:640px) and (orientation: landscape) {
    body {-webkit-text-size-adjust: 100%;}
}

@media (max-width:640px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio:2) {
    body {-webkit-text-size-adjust: 70%;}
}*/

.jumbotron h1.front{
  font-size: 85px;
  font-weight: 100;
}