*{
  padding: 0px;
  margin: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
}

*::selection          {background: #bc2127; color: #FFFFFF;/* Safari */}
*::-moz-selection {background: #bc2127; color: #FFFFFF;/* Firefox */}
*::-webkit-selection {background: #bc2127; color: #FFFFFF;/* Other */}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

.masthead{
  height: 30px;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 45px;
  line-height: 1;
}

.jumbotron .btn-large {
  font-size: 21px;
}

.jumbotron #address{
    height:30px;
  }

@media (max-width: 767px){
  .jumbotron #address{
    height:40px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 30px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

#restrictions{
  display: block;
  padding-top: 5px;
  margin: auto;
  width: 200px;
  max-width: 100%;
  text-align: left;
}

.logo-banner{
  width: 300px;
  max-width: 75%;
  margin: auto;
  margin-bottom: 20px;
}

.btn .tooltip-inner{
  text-shadow: none !important;
}

.mini-logo{
  display: inline-block;
  width: 75px;
  position: relative;
  top: -15px;
}

#nav-main, .navbar-inner{
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border: 0;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.nav a{
  color: #333333;
}

.navbar .brand, .navbar .nav > li > a{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* Does not fix viewport bug
@media (max-width:640px) and (orientation: landscape) {
    body {-webkit-text-size-adjust: 100%;}
}

@media (max-width:640px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio:2) {
    body {-webkit-text-size-adjust: 70%;}
}*/

h1.title-front{
  font-size: 82px;
  font-weight: 100;
}