
<style type="text/css">
.jumbotron p{
  text-align: left;
}
</style>
      <div class="jumbotron clearfix">
        <h1>A bit about us...</h1>
        <p>NomON is a quirky new mobile app that makes ordering delivery food crazy easy. We take the decision cost out of picking what, where and when to eat - and add in a fun twist.</p>

<h4>How does it work?</h4>
<p>You tell us where you are, pick a price, identify your allergies- and here's the kicker- the meal that's delivered to you is totally random! Kind of crazy, sort of a gamble, but that's the fun part! After you get your order, we'll ask you whether or not you liked it- that way, we learn what you don't like while still keeping your orders random.</p>

<p>We're a team of kooky college kids, and we built this in a weekend. We're still working on making it perfect, so "like" us to keep up with us. We're planning to launch fully functional in the next few weeks!</p>

<p>Until then~</p>

<p>nomON</p>

<h4>Want more?</h4>
<p>Check out Taylor Soper's article about nomON on <a href="http://www.geekwire.com/2013/startup-weekend-uw/">GeekWire</a>!</p>
        <div class="fb-like" data-href="http://facebook.com/getnomon" data-send="false" data-layout="button_count" data-width="50" data-show-faces="true"></div>
        <span style="position: relative; top: 3px;"><a href="https://twitter.com/getnomon" class="twitter-follow-button" data-show-count="false">Follow @getnomon</a></span>