      <div class="jumbotron clearfix">
        <h1>Contact us!</h1>
        <p class="lead">Hit us up on Facebook or Twitter:</p>
        <div><a href="https://twitter.com/intent/tweet?screen_name=getnomon" data-text="I want your #food babies" class="twitter-mention-button" data-size="large" data-related="getnomon">Tweet to @getnomon</a></div>
        <div class="fb-like" data-href="http://facebook.com/getnomon" data-send="false" data-layout="button_count" data-width="50" data-show-faces="true"></div>
        <span style="position: relative; top: 3px;"><a href="https://twitter.com/getnomon" class="twitter-follow-button" data-show-count="false">Follow @getnomon</a></span>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>

      <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=156766664473679";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>