 <hr>

      <div class="footer muted">
        <p>&copy; NomON 2013</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->

		</section>		
		<!-- Scripts -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>		
		<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
		<script type="text/javascript" src="/assets/js/nomon.js"></script>
		<!-- Google Analytics -->
		<script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37995164-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
		</script>		
	</body>
</html>