      <div class="jumbotron clearfix">
        <!--<h1>Get your NomON!</h1>-->
        <div class="logo-banner">
          <img src="/assets/img/logo-banner.png" alt="nom on banner"/>
        </div>
        <p class="lead" style="margin-bottom:10px;">Coming very very soon!</p>
        <p>Like us on Facebook and Follow us on Twitter to be notified when we launch...</p>
        <div class="fb-like" data-href="http://facebook.com/getnomon" data-send="false" data-layout="button_count" data-width="50" data-show-faces="true"></div>
        <span style="position: relative; top: 3px;"><a href="https://twitter.com/getnomon" class="twitter-follow-button" data-show-count="false">Follow @getnomon</a></span>
        <div class="input-append" style="margin-bottom: 10px;"></div>
        <div id="fb-root"></div>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
       
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=156766664473679";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        </script>
        <a class="btn btn-danger btn-large btn-block btn-primary disabled" href="#">Get Your Nom On</a>
        <p id="test-init"><a href="/test" style="color:white">Init Test</a></p>
      </div>