      <div class="jumbotron clearfix">
        <!--<h1>Get your NomON!</h1>-->
        <div class="logo-banner">
          <img src="/assets/img/logo-banner.png" alt="nom on banner"/>
        </div>
        <p class="lead">Coming very very soon!</p>
        <div class="input-append" style="margin-bottom: 10px;">
          <input class="input-xxlarge" disabled="true" placeholder="Address" id="address" type="text" style="width: 80%;">
          <button id="location" class="btn btn-inverse" type="button" style="height:40px"><i class="icon-globe icon-white"></i></button>
        </div>
        <a class="btn btn-danger btn-large btn-block btn-primary disabled" href="#">Get Your Nom On</a>
        <p id="test-init"><a href="/test" style="color:white">Init Test</a></p>
      </div>