<div id="settings" class="page">
  <div class="jumbotron clearfix">
    <h1>Create Account</h1>
  </div>
    <hr>
    <form id="create-user" class="form-horizontal">
	  <div class="control-group">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span>
            <input class="span4" type="text" id="createfName" placeholder="First Name">
        </div>
      </div>
      <div class="control-group">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span>
            <input class="span4" type="text" id="createlName" placeholder="Last Name">
        </div>
      </div>
      <div class="control-group">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-envelope"></i></span>
            <input class="span4" type="text" id="createEmail" placeholder="Email">
        </div>
      </div>
      <div class="control-group">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-lock"></i></span>
            <input class="span4" type="password" id="createPassword" placeholder="Password">
        </div>
      </div>
      <div class="control-group">
        <label>Enter your home address: <small>you can change this later</small></label>
        <div class="input-prepend">
          <span id="location" class="add-on"><i class="icon-map-marker"></i></span>
            <input id="address" class="span4" type="text" placeholder="42 Milky Way Lane">
        </div>
<!--         <button id="location" class="btn btn-small btn-inverse" type="button" style="height:30px"><img src="/assets/img/geo.png" style="height: auto; width: 15px; position: relative; top: 2px;"></button>
      </div> -->
      <div class="control-group">
        <label><small>In this format: 5104561344</small></label>
        <div class="input-prepend">
          <span class="add-on"><i class="icon-signal"></i></span>
            <input id="createPhone" class="span4" type="text" placeholder="Phone Number">
        </div>
      </div>
      <button type="submit" class="btn btn-danger btn-large btn-block btn-primary" href="/thanks">Create New User</button>
    </form>
</div>