    <div id="settings" class="page">
      <div class="jumbotron clearfix">
        <h1>Settings</h1>
        <p class="lead">Coming soon. Hold your horses.</p>
      </div>
        <!--
        <a class="btn btn-danger btn-large btn-block btn-primary" href="/thanks">Log Out</a>
        <hr>
        <form class="form-horizontal">
            <label>Log In</label>
          <div class="control-group">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-envelope"></i></span>
                <input class="span4" type="text" id="inputEmail" placeholder="Email">
            </div>
          </div>
          <div class="control-group">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-lock"></i></span>
                <input class="span4" type="password" id="inputPassword" placeholder="Password">
            </div>
          </div>
        </form>
        <ul class="nav nav-tabs nav-stacked">
          <li class="active"><a href="#">Address 1</a></li>
          <li><a href="#">Address 2</a></li>
          <li><a href="#">Address 3</a></li>
        </ul>
        -->
    </div>