      <div class="jumbotron clearfix">
        <!--<h1>Get your NomON!</h1>-->
        <style type="text/css">
          .logo-banner{
            width: 50%;
          }
      </style>
        <div class="logo-banner clearfix">
          <img src="/assets/img/logo-banner.png" />
        </div>
        <p class="lead">We've got <a href="#" class="badge badge-important">29</a> happy Nommers so far...</p>
        <div class="input-append" style="margin-bottom: 10px;">
          <input class="input-xxlarge" placeholder="Address" id="address" type="text" style="width: 80%; max-width:100%;">
          <button id="location" class="btn btn-inverse" type="button" style="height:40px"
          onclick="document.getElementById('address').value='University of Washington';"><i class="icon-globe icon-white"></i></button>
        </div>
        <a class="btn btn-danger btn-large btn-block btn-primary" href="/price">Get Your Nom On</a>
      </div>