      <div class="jumbotron clearfix">
        <!--<h1>Get your NomON!</h1>-->
        <div class="logo-banner clearfix">
          <img src="/assets/img/logo-banner.png" />
        </div>
        <h1 class="title-front">nomON</h1>
        <p class="lead">We've got <a href="#" class="badge badge-important">29</a> happy Nommers so far...</p>
        <div class="input-append" style="margin-bottom: 30px;">
          <input class="input-xxlarge" placeholder="Address" id="address" type="text">
          <button id="location" class="btn btn-inverse" type="button" style="height:40px"><!--<i class="icon-screenshot icon-white"></i>-->
            <img src="/assets/img/geo.png" style="height: auto; width: 20px; position: relative; top: 2px;">
          </button>
        </div>
        <a class="btn btn-danger btn-large btn-block btn-primary" href="/price">Get Your Nom On</a>
      </div>