    <div id="thanks" class="page">
      <div class="jumbotron clearfix">
        <h1>Thanks!</h1>
        <p class="lead">Your noms are on their way. In the meantime why not give us a like
          or follow us on Twitter:</p>
        <div class="fb-like" data-href="http://facebook.com/getnomon" data-send="false" data-layout="button_count" data-width="50" data-show-faces="true"></div>
        <span style="position: relative; top: 3px;"><a href="https://twitter.com/getnomon" class="twitter-follow-button" data-show-count="false">Follow @getnomon</a></span>
<a class="btn btn-danger btn-large btn-block" style="margin-top:10px" href="/review">After eating...</a>
      </div>
    </div>

      